.layoutWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
        max-width: 88rem;
        width: 100%;
    }
}

.mainLayout {
    font-family: 'CS PraJad';
    font-size: 2rem;
	padding: 0 3rem;
}
