.layoutWrapper {
    & > * {
        margin: 0 auto;
        max-width: 88rem;
        width: 100%;
    }
}

.mainLayout {
    font-family: 'CS PraJad', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    padding: 0 3rem;
}
