.postCardBase {	
	h2 {
		color: #040404;
		font-family: 'FC Friday', Helvetica, Arial, sans-serif;
		font-weight: 400;
		margin: 0;
	}
}

.temporaryPostCard {
	@extend .postCardBase;

	&Title {
		font-size: 4rem;
	}

	&Excerpt {
		color: #444;
		margin: 1rem 0 0;
	}
}

.featuredPostCard {
	@extend .postCardBase;

	&Title {
		font-size: 4rem;
		font-weight: 600;
	}
}

.featuredPostCardCoverImage {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&Container {
		display: grid;

		& > * {
			grid-area: 1/1;
		}
	}
}

.regularPostCard {
	@extend .postCardBase;

    align-items: flex-start;
	display: flex;
	height: 10rem;

	&CoverImage {
		flex-shrink: 0;
		height: 10rem;
		width: 10rem;
		margin-right: 2rem;
    }

	&Title {
		font-size: 3rem;
		font-weight: 600;

        // Fix amount of lines
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		-webkit-box-pack: end;
		overflow: hidden;
	}
}
